.div{
				background: #E3E4E6;
				color: black;
				border-radius: 20px;
}

.title{
				font-size: 18pt;
}

.calories{
}

.contenedor{
				text-align: left;
				list-style-type: circle;
}


.ingredients{
}
